.Home {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: #d3d3d3;

    p {
        width: 100%;
        font-size: 1.5rem;
    }

    .beginButton {
        width: 100%;
    }
}