.Quiz {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    width: 100%;

    .question {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    p {
        width: 100%;
        font-size: 1.5rem;
    }   
}

.userAnswer {
    display: flex;
    width: 50%;
    margin: auto;
    align-self: flex-end;
    justify-content: space-around;
}