.Quiz {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    width: 100%;

    .question {
        display: flex;
        padding: .25rem;
        align-self: center;
        min-height: 30vh;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background-image: linear-gradient(to bottom right, #efefef, #aaa);
    }

    h2 {
        min-height: 5rem;
    }

    p {
        width: 100%;
        font-size: 1.5rem;
    }   
}

.userAnswer {
    display: flex;
    width: 50%;
    margin: auto;
    align-self: flex-end;
    justify-content: space-around;
}